body{
	background-color: #1a1a1a;
}
p{
	color: white;
}
#bouldering{
	width: 300px;
}

#code{
	width: 300px;
}

#dancing{
	width:300px;
	height: 450px;
}

#introduction{
	margin-top: 2vw;
	margin-left: 20vw;
}

.linkedin{
	margin-left: 1vw;
}

